<footer>
	<div class="language">
		<h3 translate="FOOTER.LANGUAGE"></h3>
		<ul>
			<li *ngFor="let language of availableLanguages" (click)="changeLanguage(language.Code)" [ngClass]="{ active: language.Code === currentLanguageCode }"
			 [innerHtml]="language.NativeName">
			</li>
		</ul>
	</div>
	<div class="made-with">
		<span translate="FOOTER.MADE_WITH"></span>
		<a href="https://angular.io/" target="_blank">
			<bg-glitchy-picture [state]="state" jitterSpeed="400" pictureUrl="../assets/angular.svg" pictureHeight="120" pictureWidth="120">
			</bg-glitchy-picture>
			<span translate="FOOTER.ANGULAR"></span>
		</a>
	</div>
</footer>