<header>
	<a class="logo" href="#">
		<bg-glitchy-text text="B&G" [state]="state" [onlyOnHover]="false"></bg-glitchy-text>
	</a>

	<input id="nav" type="checkbox">
	<label for="nav"></label>

	<nav>
		<ul>
			<!-- Navigation -->
			<li>
				<a routerLink="">
					<bg-glitchy-text text="{{ 'NAV.HOME' | translate}}" [state]="state" [onlyOnHover]="true"></bg-glitchy-text>
				</a>
			</li>
			<li>
				<a routerLink="contact">
					<bg-glitchy-text text="{{ 'NAV.CONTACT' | translate}}" [state]="state" [onlyOnHover]="true"></bg-glitchy-text>
				</a>
			</li>
			<li>
				<a routerLink="tinkering">
					<bg-glitchy-text text="{{ 'NAV.TINKERING' | translate}}" [state]="state" [onlyOnHover]="true"></bg-glitchy-text>
				</a>
			</li>
			<!-- Settings -->
			<li>
				<a (click)="selectGlitchState(state === glitchStates.boring ? glitchStates.glitchy : glitchStates.boring)">
					<bg-glitchy-text text="{{ 'NAV.CHANGE_STYLE' | translate}}" [state]="state" [onlyOnHover]="true"></bg-glitchy-text>
				</a>
			</li>
		</ul>
	</nav>
</header>