<header>
	<a class="logo" href="#">🚀</a>

	<input id="nav" type="checkbox">
	<label for="nav"></label>

	<nav>
		<ul>
			<!-- Navigation -->
			<li>
				<a [ngClass]="state" routerLink="" translate="NAV.HOME"></a>
			</li>
			<li>
				<a [ngClass]="state" routerLink="contact" translate="NAV.CONTACT"></a>
			</li>
			<li>
				<a [ngClass]="state" routerLink="tinkering" translate="NAV.TINKERING"></a>
			</li>
			<!-- Settings -->
			<li>
				<a (click)="selectGlitchState(state === glitchStates.boring ? glitchStates.glitchy : glitchStates.boring)" translate="NAV.CHANGE_STYLE"></a>
			</li>
			<li>
				<a (click)="changeLanguage($event)" translate="NAV.CHANGE_LANGUAGE">⛿</a>
			</li>
		</ul>
	</nav>
</header>