@import "../styles";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    > main {
        flex: 1 0 auto;

		padding-top: 1.25em;

        &.glitchy {
            background-color: $spaceColor;
            background-image: linear-gradient(0deg, $scanLinesColor 1px, transparent 2px);
            background-size: 5px 5px;
        }
    }

    > footer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;

        &.glitchy {
            color: white;
            background-color: $spaceColor;
        }

        &.boring {
            color: black;
            background: white;
        }

        .made-with span, .made-with a {
            display: block;
        }
        .made-with a {
            text-decoration: none;
        }
        .angular-link {
            color: rgb(221, 0, 49) !important;
            margin-bottom: 0.5em;
        }

        .made-with {
            font-family: $code-font-stack;
        }
    }
}
