<!-- nav -->
<nav [ngClass]="state">
	<button (click)="toggleGlitchState($event)">
		{{ state === glitchStates.Glitchy ? "Glitchy!" : "Boring..." }}
	</button>
	<button [ngClass]="state" routerLink="">Home</button>
	<button [ngClass]="state" routerLink="contact">Contact</button>
	<button [ngClass]="state" routerLink="tinkering">Tinkering</button>
</nav>

<main [ngClass]="state">
	<!-- content -->
	<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</main>

<footer [ngClass]="state">
	<div class="made-with">
		<span>Made with</span>
		<bg-glitchy-picture [state]="state" jitterSpeed="350" pictureUrl="../assets/angular.svg" pictureHeight="120" pictureWidth="120">
		</bg-glitchy-picture>
	</div>
</footer>