@import "../styles";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    > main {
        flex: 1 0 auto;
        padding-top: 1.25em;

        &.glitchy {
            background-color: map-get($glitchy, primary-background);
            background-image: linear-gradient(0deg, $scanLinesColor 1px, transparent 2px);
            background-size: 5px 5px;
        }
    }
}
