:host {
    display: block;
    margin-top: 30vh;
    text-align: center;

    bg-glitchy-text {
        display: block;
        margin-bottom: 3em;
    }

    bg-rad-loader {
        display: block;
    }
}
