---
import { type Lang } from "@utils/getTranslations";

type Props = {
    currentLang: Lang;
};

const { currentLang } = Astro.props;

const french = "Français";
const english = "English";
---

<!-- French -->
{
    currentLang === "fr" ? (
        <span class="fr text-slate-500">{french}</span>
    ) : (
        <a href="/fr/" class="hover:underline fr">
            {french}
        </a>
    )
}
<!-- English -->
{
    currentLang === "en" ? (
        <span class="en text-slate-500 ml-3">{english}</span>
    ) : (
        <a href="/en/" class="hover:underline en ml-3">
            {english}
        </a>
    )
}

<style>
    .fr::before {
        content: "🇫🇷";
        display: inline-block;
        margin-right: .25rem;
    }
    .en::before {
        content: "🇬🇧";
        display: inline-block;
        margin-right: .25rem;
    }
</style>
