@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
// @import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$code-font-stack: "Source Code Pro", monospace, sans-serif;

// Map for default glitchy state variables
$glitchy: (
	primary-background: #1E1E1E,
	primary-foreground: #ffffff,
	primary-border: #454545,
	primary-color: #8cdcfe,
	primary-font-stack: $code-font-stack
);
// Map for default boring state variables
$boring: (
	primary-background: #ffffff,
	primary-foreground: #747474,
	primary-font-stack: $code-font-stack
);

$scanLinesColor: rgba(255, 255, 255, 0.123);
$angular-red: rgb(221, 0, 49);

// Usefull for IGlitchable components. The components need the following HostBinding:
// @HostBinding("class") public state: GlitchState;
@mixin auto-host-state {
	:host {
		&.glitchy {
			// background: map-get($glitchy, primary-background);
			color: map-get($glitchy, primary-foreground);
			font-family: map-get($glitchy, primary-font-stack);
		}
		&.boring {
			// background: map-get($boring, primary-background);
			color: map-get($boring, primary-foreground);
			font-family: map-get($boring, primary-font-stack);
		}
	}
}

$mobile-threshold: 1200px;

@mixin responsive-host-width {
	:host {
		display: block;
		margin: auto;

		@media all and (max-width: $mobile-threshold) {
			padding: 1em;
		}
		@media screen and (min-width: $mobile-threshold) {
			width: 60%;
		}
	}
}

html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

p[hidden] { display: none; }

button {
	font-family: $code-font-stack;
	font-size: 1em;
	border: none;
	box-shadow: inset 0 0 0 1px map-get($glitchy, primary-foreground);
	color: map-get($glitchy, primary-foreground);
	background: map-get($glitchy, primary-background);
	padding: .4em .8em;
	border-radius: .15em;
	background: transparent;
	transition: all .1s ease;
	&:hover {
		cursor: pointer;
		color: map-get($glitchy, primary-background);
		background: map-get($glitchy, primary-foreground);
	}

	&.primary {
		box-shadow: none;
		background: map-get($glitchy, primary-color);
		color: map-get($glitchy, primary-background);
		&:hover {
			background: lighten(map-get($glitchy, primary-color), 10);
			color: darken(map-get($glitchy, primary-background), 100);
		}
	}
	&.medium {
		font-size: 1.2em;
		padding: .6em 1.2em; 
	}
}

.xml-comment {
	display: inline-block;
	margin: 0;
	font-family: $code-font-stack;
	padding: 0 .35em .1em .15em;
	border-radius: .1em;
	font-weight: normal;
	color: map-get($glitchy, primary-color);
	background: lighten(map-get($glitchy, primary-background), 15);
	&:before {
		font-size: .8em;
		vertical-align: .05em;
		content: "// ";
	}
}

.right {
	text-align: right;
}