<!-- @HostBinding cannot be dynamic: we need a wrapper -->
<div [ngClass]="state">
	<bg-glitchy-text text="{{ 'HOME.SOON' | translate }}" [state]="state"></bg-glitchy-text>

	<p>Cupcake ipsum dolor sit amet cake. Powder dessert donut. Cookie sweet roll I love pastry pastry candy sesame snaps. I love
		gingerbread icing gummi bears caramels oat cake topping gummi bears powder. Croissant cheesecake I love cake jelly-o I
		love gummi bears I love caramels. Cookie tart carrot cake donut. I love powder cookie chocolate croissant topping I love.
		Biscuit candy canes bonbon toffee tart. Biscuit jelly beans oat cake tart chocolate bar carrot cake. Cupcake caramels toffee
		I love jelly soufflé halvah apple pie brownie. Sweet jujubes topping I love topping cupcake soufflé dragée halvah. Tootsie
		roll danish tootsie roll.</p>

	<p>Toffee I love icing topping candy canes. Croissant gummies chocolate bar lollipop lollipop gingerbread gingerbread. Liquorice
		cotton candy powder. Oat cake bear claw halvah apple pie I love I love chupa chups. Jelly-o cheesecake tootsie roll. Sweet
		chocolate muffin I love jelly beans icing croissant I love. Gummies liquorice candy. Lemon drops ice cream carrot cake
		cake gummies pie. Halvah dragée sweet roll chocolate bar candy I love. Chocolate cake bonbon chocolate bar. Sesame snaps
		cake icing liquorice brownie gummies cupcake fruitcake. Cake cookie oat cake. I love marzipan cotton candy.</p>

	<p>Donut jelly beans candy cotton candy fruitcake topping toffee oat cake cake. Sesame snaps pudding cotton candy fruitcake.
		Croissant toffee I love cheesecake sugar plum. Liquorice cookie gummi bears. Sugar plum chupa chups topping halvah. Chocolate
		cake cotton candy gummi bears wafer cupcake I love. Sesame snaps muffin bear claw cheesecake sweet. Dessert sweet brownie
		cake dragée I love oat cake. Marzipan bear claw bear claw cake croissant jelly-o jelly-o donut. Chocolate cake pastry danish
		croissant gingerbread I love cake toffee. Pastry chocolate cake jujubes carrot cake sweet tootsie roll. Brownie topping
		muffin. Liquorice sweet halvah danish ice cream cake.</p>

	<p>Dessert candy powder macaroon. I love tiramisu candy canes ice cream lemon drops dragée pastry jujubes. Sweet roll chupa
		chups chupa chups. Carrot cake liquorice lollipop donut powder sugar plum liquorice jujubes jujubes. Jelly pie chocolate
		bar I love I love topping. Marshmallow jelly beans lollipop chocolate sesame snaps chocolate. Gummi bears I love jujubes
		pudding cotton candy. Jelly-o fruitcake candy I love cupcake pudding gummi bears I love wafer. Sesame snaps oat cake jelly-o
		pie tart toffee cotton candy. Dessert chocolate bar tart. Toffee cake sweet. I love cake pastry chocolate bar candy canes.
		Ice cream caramels ice cream.</p>

	<p>Sugar plum macaroon gummies lollipop. Chocolate cake bear claw jelly beans gummi bears brownie chocolate bar sweet roll
		wafer lemon drops. Tart muffin lemon drops sesame snaps dragée. Jelly beans danish gummies apple pie sweet roll sweet roll
		marzipan caramels cake. Caramels dragée chocolate cake. Croissant cake halvah I love jelly-o I love soufflé halvah. Bonbon
		pastry chocolate cake. Sweet chocolate cake toffee jelly-o brownie icing I love jelly gingerbread. Sweet roll chocolate
		gingerbread I love oat cake jelly-o I love gummi bears marshmallow. Chocolate bar I love chupa chups chocolate cake topping
		macaroon. Tootsie roll bonbon I love brownie I love gummies pudding. Fruitcake I love jujubes wafer cake cupcake I love.
		Donut cake pudding I love soufflé fruitcake muffin fruitcake gummi bears. I love toffee muffin cake I love plum macaroon
		gummies lollipop. Chocolate cake bear claw jelly beans gummi bears brownie chocolate bar sweet roll wafer lemon drops.
		Tart muffin lemon drops sesame snaps dragée. Jelly beans danish gummies apple pie sweet roll sweet roll marzipan caramels
		cake. Caramels dragée chocolate cake. Croissant cake halvah I love jelly-o I love soufflé halvah. Bonbon pastry chocolate
		cake. Sweet chocolate cake toffee jelly-o brownie icing I love jelly gingerbread. Sweet roll chocolate gingerbread I love
		oat cake jelly-o I love gummi bears marshmallow. Chocolate bar I love chupa chups chocolate cake topping macaroon. Tootsie
		roll bonbon I love brownie I love gummies pudding. Fruitcake I love jujubes wafer cake cupcake I love. Donut cake pudding
		I love soufflé fruitcake muffin fruitcake gummi bears. I love toffee muffin cake I love.</p>

	<p>Jujubes macaroon icing powder apple pie chupa chups. Pastry bear claw I love sweet I love tiramisu sweet roll toffee chocolate
		cake. Chupa chups candy canes dessert bonbon oat cake marshmallow fruitcake chupa chups apple pie. Chupa chups liquorice
		sugar plum biscuit candy tiramisu bonbon jelly-o. Powder sweet roll lollipop pie liquorice tootsie roll. Jelly beans chupa
		chups I love. Powder candy canes marshmallow I love bonbon sesame snaps. Pie I love lemon drops I love macaroon I love
		I love. Sugar plum caramels toffee soufflé sugar plum danish sweet. Tart donut ice cream chocolate. Brownie sweet roll
		I love pastry liquorice I love macaroon. Chocolate bar carrot cake dessert tiramisu liquorice danish. Liquorice I love
		muffin liquorice. I love cake sesame snaps chocolate cake pie.</p>

	<p>I love dessert marzipan. Cookie I love biscuit pie pudding jujubes. I love cake lollipop. Cake halvah candy tiramisu bonbon.
		Danish gummies candy canes bear claw. Jelly halvah jelly-o cupcake soufflé cheesecake I love. Powder cotton candy bear
		claw jelly beans. Gummies gingerbread dragée. Caramels cookie croissant I love dragée jelly beans gummi bears tart. Jelly-o
		tart macaroon pie cake topping wafer halvah I love. Donut biscuit oat cake liquorice macaroon I love wafer marzipan. Chocolate
		cake wafer candy ice cream.</p>

	<p>Tiramisu fruitcake I love sugar plum I love. Sesame snaps bear claw gingerbread carrot cake macaroon sweet roll cake chocolate.
		Sugar plum dessert brownie I love. Chupa chups sweet roll cupcake chocolate bar candy icing cookie. Jelly-o tiramisu candy
		canes dragée muffin tiramisu sesame snaps. I love apple pie lollipop chocolate caramels tiramisu cheesecake powder. Cotton
		candy candy canes halvah marshmallow lemon drops. Danish I love tootsie roll biscuit jelly-o cotton candy toffee. Candy
		canes chocolate bar powder. Gummies gummies gummies bonbon lollipop. Muffin gummies I love sweet roll. Bonbon caramels
		candy cheesecake.
	</p>

	<p>Tart chocolate bar chocolate bar chocolate dessert jujubes. Apple pie jujubes donut gummies chocolate muffin carrot cake
		I love. Biscuit tiramisu liquorice I love chocolate bar jelly I love. Sesame snaps I love jujubes. Cookie fruitcake lemon
		drops candy biscuit fruitcake sesame snaps apple pie I love. Toffee muffin gummies chupa chups brownie. Tootsie roll gummi
		bears chocolate chocolate cake. Sweet roll marzipan gummi bears cake macaroon. I love jujubes chocolate. Chocolate pie
		sweet halvah topping marzipan. Jelly-o jelly-o gummies sugar plum halvah brownie I love croissant. Soufflé cake marzipan
		chocolate cake sesame snaps muffin carrot cake.</p>

	<p>Dessert candy powder macaroon. I love tiramisu candy canes ice cream lemon drops dragée pastry jujubes. Sweet roll chupa
		chups chupa chups. Carrot cake liquorice lollipop donut powder sugar plum liquorice jujubes jujubes. Jelly pie chocolate
		bar I love I love topping. Marshmallow jelly beans lollipop chocolate sesame snaps chocolate. Gummi bears I love jujubes
		pudding cotton candy. Jelly-o fruitcake candy I love cupcake pudding gummi bears I love wafer. Sesame snaps oat cake jelly-o
		pie tart toffee cotton candy. Dessert chocolate bar tart. Toffee cake sweet. I love cake pastry chocolate bar candy canes.
		Ice cream caramels ice cream.</p>
</div>