@import "../../styles";

@include responsive-host-width;
@include auto-host-state;

:host div {
    
    text-align: justify;
    
    > bg-glitchy-text {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    > p {
        font-family: $code-font-stack;
    }
}
